.console {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: monospace;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  height: 300px;
  overflow-y: auto;
  white-space: pre-wrap;
  margin-bottom: 25px;
}

.clean {
  float: right;
}
